body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;


}

canvas {
        display: block;
        margin: 0;
        background: url('img/5_background/layers/air.png');
        background-size: cover;
}